# History mindmap files
.emmx

# IDE
## IDEA
out
.idea
codes.iml

## VSCode
.vscode

# C++
## Compilation products
### Executables
*.exe
### Intermidate
*.o
*.out
### Header files
*.h.gch
### Libraries
*.a
*.so

## CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Python
__pycache__/

# Golang
*.exe